
.container {
    display: grid;
    width: 1000px;
    padding: 50px;
    height: 600px; 
    margin: auto;
    grid-template-columns: 40% 60%;
  }

  .left-column {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
  .pavadinimas{
    color: blue;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 80px;
  }

  .form-row {
    padding: 10px;
  }

  .please {
    color: grey;
  }
 
  .button {
    background-color: rgb(60, 34, 134);
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 7px 3px;
    cursor: pointer;
  }

  .a1{
    text-decoration: none;
    padding: 50px;
    color: grey;
  }
  .a{
  background-color:#fff;
  border-style: solid;
  color: blue;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px 2px;
  cursor: pointer;
}
.btn{
  color: blue;
  text-decoration: none;
  cursor: pointer;
  margin: 15px;
  padding: 10px;
}
  