
.pavadinimas{
  color: blue;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.container {
    display: grid;
    width: 1200px;
    padding: 10px;
    height: 400px; 
    margin: auto;
    grid-template-columns: 40% 60%;
  }
  
  .form-row {
    padding: 10px;
 
  }
  .button {
    background-color: rgb(60, 34, 134);
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 7px 3px;
    cursor: pointer;
  }

  .a1{
    text-decoration: none;
    padding: 50px;
    color: grey;
  }
  .a{
  background-color:#fff;
  border-style: solid;
  color: blue;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px 2px;
  cursor: pointer;
}
.btn{
  color: blue;
  text-decoration: none;
  cursor: pointer;
  margin: 15px;
  padding: 10px;
}
  