
.pavadinimas{
  color: blue;
}
.container {
    display: grid;
    width: 1200px;
    padding: 10px;
    height: 400px; 
    margin: auto;
    grid-template-columns: 40% 60%;
  }
  
  .form-row {
    padding: 10px;
  }