
form> .form-row > button {
  font-size: 15px;
  line-height: 26px;
  text-transform: capitalize;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 18px;
  background-color: #005dd8;
  color: #fff;
  border-color: none;
  cursor: pointer;
}
form> .form-row > button:hover {
  cursor:pionter;
  background: #0265de;
  background: linear-gradient(53deg, #0265de 0%, #2348d4 100%);
}
