body{ 
    background-color: cornflowerblue; 
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 10px;
    margin-left: calc(50% - 400px);
}
 .left-column{
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
    float: left;
    background-color:#5780D9 ;
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    color: cornsilk;
    padding: 10px;
    padding-bottom: 10px;
}
a{ 
    color: cornsilk;
    text-decoration: none;

}

.right-column {
    display: inline-block;
    float: left;
    width: 60%;
    font-weight: bold;
    background-color: #fff;
    padding: 60px;
    padding-bottom: 20px;
}
.close {
       height: 60px;
       width: 60px;
       margin-left: 360px;
       margin-top: -60px;
       position:absolute;
       cursor: pointer;
    
      
        
}
