body{ 
    background-color: cornflowerblue; 
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 10px;
    margin-left: calc(50% - 400px);
}
 .left-column{
    display: inline-block;
    box-sizing: border-box;
    width: calc (40% - 110px);
    float: left;
    background-color:#5780D9 ;
    color: cornsilk;
    padding: 10px;
    padding-bottom: 10px;
}
a{ 
    color: cornsilk;
    text-decoration: none;

}

.right-column {
    display: inline-block;
    float: left;
    width: 60%;
    font-weight: bold;
    background-color: #fff;
    padding: 10px;
    padding-bottom: 20px;
}
.close {
        cursor: pointer;
        position:absolute;
    

        
}
