body{  
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 10px;
    margin-left: calc(50% - 400px);
}
 .left-column{
    display: inline-block;
    float:left;
    box-sizing: border-box;
    width: calc (40% - 110px);
    background-color:#5780D9 ;
    color: cornsilk;
    padding: 50px;
    padding-bottom: 20px;
}
a{ 
    color: cornsilk;

}

.right-column {
    display: inline-block;
    float:right;
    width: 60%;
    font-weight: bold;
    background-color: #fff;
}

