.body{ 
  display: grid;
  width: 1000px;
  height: 600px; 
  text-align: center;
}

.container {
  display: grid;
  float: left;
  width: 700px;
  padding: 50px;
  height: 600px; 
  margin: auto;
  grid-template-columns: 50% 50%;
}

.left-column { 
    display: grid;
}

.right-column {
    display: grid;

}