:root {
--main-color: #32ACF1;
--secondary-color: #EA1E63;
}

.body{ 
  display: inline-block;
  width: 1000px;
  height: 600px; 
  text-align: center;
}

.container {
  display: inline-block;
  float: left;
  width: 1000px;
  padding: 50px;
  height: 600px; 
  margin: 0 calc(50% - 500px);
  grid-template-columns: 50% 50%;
}
.container > .row {
  width: 1000px;
}
.container >small-row {
  width: 600px;
}
.left-column { 
    display: grid;
}

.right-column {
    display: grid;

}
@media ( max-width: 1100px) {}